<!--banner strat here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <div class="col-md-6 banner-left">
                <a href="/product"><img src="/images/ba.png" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-6 banner-right simpleCart_shelfItem">
                <h2>Welcome to our store</h2>
                <h1>Up to 50% Discount</h1>
                <ul class="bann-btns">
                    <li><a href="/product/all" class="item_add">Shop now</a></li>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--banner end here-->
<!--block-layer2 start here-->
<div class="blc-layer2">
    <div class="container">
        <div class="blc-layer2-main">
            <div class="col-md-6 blc-layer2-left">
                <h3>About us</h3>
                <p>We deliver quality fashion items for men and women with great services. </p>
            </div>
            <div class="col-md-6 blc-layer2-right">

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--block-layer2 end here-->
<!--block-layer1 start here-->
<div class="blc-layer3">
    <div class="container">
        <div class="blc-layer4-main">
            <div class="col-md-6 blc-layer3-grids1">
                <h6>Our product</h6>
                <ul>
                    <li>
                        <h4>Temporibus autem quibusdam</h4>
                        <h5>At vero eos et accusamus et iusto odio</h5>
                    </li>
                    <li>
                        <h4>These cases are perfectly</h4>
                        <h5>voluptatum deleniti atque corrupti quos</h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 blc-layer3-grids2">
                <a href="/product"><img src="/images/bracelate.png" alt=""></a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--block-layer1 end here-->
<!--home-block start here-->
<div class="home-block">
    <div class="container">
        <div class="row home-block-main">
            {{#each products}}
            <div class="col-md-3 col-xs-6 home-grid">
                <div class="home-product-main">
                    <div class="home-product-top">
                        <a href={{this.slug}}><img src={{this.image.[0].secure_url}} alt={{this.name}}
                                class="img-responsive zoom-img"></a>
                    </div>
                    <div class="home-product-bottom">
                        <h3 style="height: 3em; text-transform: uppercase;"><a href={{this.slug}}>{{this.name}}</a>
                        </h3>
                        <p style="color: black; font-size: 1.3em">Price: {{this.price}}$</p>
                    </div>
                    <div class="srch">
                        <span>{{this.sale}}</span>
                    </div>
                </div>
            </div>
            {{/each}}

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--home block end here-->