<!--banner strat here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <div class="col-md-6 banner-right simpleCart_shelfItem" style="background:white">
                <h2>Welcome to our store</h2>
                <h1>Up to 50% Discount</h1>
                <h5>We delivered high-end fashion items from handbag and watch for men and women.</h5>
                <ul class="bann-btns">
                    <li><a href="/product/all" class="item_add">Shop now</a></li>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--banner end here-->
<!--block-layer3 start here-->
<div class="blc-layer3">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center pt-4" >
            <h2 style="margin-top:10px">Categories</h2>
        </div>
    </div>
    <div class="container">
        <div class="row"style ="display:flex">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade"
                data-aos-delay="100"> 
                <a class="block-2-item" href="/product/all">
                    <figure class="image">
                        <img src="/images/all.jpg" alt="" class="img-fluid" 
                             >
                    </figure>
                    <div class="text-categories">
                        <span class="text-uppercase">Collections</span>
                        <h3>All</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade"
                data-aos-delay="100"> 
                <a class="block-2-item" href="/product/sale">
                    <figure class="image">
                        <img src="/images/discount.png" alt="" class="img-fluid" 
                             >
                    </figure>
                    <div class="text-categories">
                        <span class="text-uppercase">Collections</span>
                        <h3>Sale</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade"
                data-aos-delay="100"> 
                <a class="block-2-item" href="/product/women">
                    <figure class="image">
                        <img src="/images/woman.jpg" alt="" class="img-fluid" 
                             >
                    </figure>
                    <div class="text-categories">
                        <span class="text-uppercase">Collections</span>
                        <h3>Women</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade"
                data-aos-delay="100" >
                <a class="block-2-item" href="/product/men">
                    <figure class="image">
                        <img src="/images/man.jpg" alt="" class="img-fluid"
                                 >
                    </figure>
                    <div class="text-categories">
                        <span class="text-uppercase">Collections</span>
                        <h3>Men</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--block-layer1 end here-->
<!--home-block start here-->
<div class="home-block">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center pt-4" >
            <h2 style="margin-top:10px">Featured Products</h2>
        </div>
    </div>
    <div class="container">
        <div class="row home-block-main">
            {{#each products}}
            <div class="col-md-3 col-xs-6 home-grid">
                <div class="home-product-main">
                    <div class="home-product-top">
                        <a href={{this.slug}}><img src={{this.image.[0].secure_url}} alt={{this.name}}
                                class="img-responsive zoom-img"></a>
                    </div>
                    <div class="home-product-bottom">
                        <h3 style="height: 3em; text-transform: uppercase;"><a href={{this.slug}}>{{this.name}}</a>
                        </h3>
                        <p style="color: black; font-size: 1.3em">Price: {{this.price}}$</p>
                    </div>
                    <div class="srch">
                        <span>{{this.sale}}</span>
                    </div>
                </div>
            </div>
            {{/each}}

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--home block end here-->