<!--product start here-->
<div class="product">
    <div class="container">
        <div class="product-main">
            <div class=" product-menu-bar">
                <div class="product-block">
                    {{#if products}}
                    {{#each products}}
                    <div class="col-md-3 home-grid">
                        <div class="home-product-main">
                            <div class="home-product-top">
                                <a href={{this.slug}}><img src={{this.image.[0].secure_url}} alt={{this.name}}
                                        class="img-responsive zoom-img"></a>
                            </div>
                            <div class="home-product-bottom">
                                <h3 style="height: 3em; text-transform: uppercase;"><a
                                        href={{this.slug}}>{{this.name}}</a>
                                </h3>
                                <p style="color: black; font-size: 1.3em">Price: {{this.price}}$</p>
                            </div>
                            <div class="srch">
                                <span>{{this.sale}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div style="text-align: center;">No product match your search :(</div>
                    {{/if}}
                    <div class="clearfix"> </div>
                </div>
            </div>

            {{!-- pagination --}}
            {{#if products}}
            <div class="pagination col-md-12">
                <ul class="page-list">
                    <li class="page"><a href="">&lt;&lt;</a></li>
                    {{#each pages}}
                    <li class="page"><a href={{this.pageA}}>{{this.page}}</a></li>
                    {{/each}}
                    <li class="page"><a href="">&gt;&gt;</a></li>
                </ul>
            </div>
            <div id="current-page" style="display: none;" name={{currentPage}}></div>
            {{/if}}
        </div>
    </div>
    <!--product end here-->